//Almoni
@font-face{
  font-family:'almoni';
  font-weight:300; /*(light)*/
  font-style: normal;
  src: url('fonts/almoni/almoni-dl-aaa-300.eot');
  src: url('fonts/almoni/almoni-dl-aaa-300.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni/almoni-dl-aaa-300.ttf') format('truetype'),
  url('fonts/almoni/almoni-dl-aaa-300.woff') format('woff');
}
@font-face{
  font-family:'almoni';
  font-weight:400; /*(regular)*/
  font-style: normal;
  src: url('fonts/almoni/almoni-dl-aaa-400.eot');
  src: url('fonts/almoni/almoni-dl-aaa-400.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni/almoni-dl-aaa-400.ttf') format('truetype'),
  url('fonts/almoni/almoni-dl-aaa-400.woff') format('woff');
}
@font-face{
  font-family:'almoni';
  font-weight:700; /*(bold)*/
  font-style: normal;
  src: url('fonts/almoni/almoni-dl-aaa-700.eot');
  src: url('fonts/almoni/almoni-dl-aaa-700.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni/almoni-dl-aaa-700.ttf') format('truetype'),
  url('fonts/almoni/almoni-dl-aaa-700.woff') format('woff');
}
@font-face{
  font-family:'almoni';
  font-weight:900; /*(black)*/
  font-style: normal;
  src: url('fonts/almoni/almoni-dl-aaa-900.eot');
  src: url('fonts/almoni/almoni-dl-aaa-900.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni/almoni-dl-aaa-900.ttf') format('truetype'),
  url('fonts/almoni/almoni-dl-aaa-900.woff') format('woff');
}
//Almoni-tzar
@font-face{
  font-family:'almoni-tzar';
  font-weight:100; /*(light)*/
  font-style: normal;
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-100.eot');
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-100.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-100.ttf') format('truetype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-100.woff') format('woff');
}
@font-face{
  font-family:'almoni-tzar';
  font-weight:200; /*(light)*/
  font-style: normal;
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-200.eot');
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-200.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-200.ttf') format('truetype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-200.woff') format('woff');
}
@font-face{
  font-family:'almoni-tzar';
  font-weight:300; /*(light)*/
  font-style: normal;
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-300.eot');
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-300.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-300.ttf') format('truetype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-300.woff') format('woff');
}
@font-face{
  font-family:'almoni-tzar';
  font-weight:400; /*(regular)*/
  font-style: normal;
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-400.eot');
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-400.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-400.ttf') format('truetype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-400.woff') format('woff');
}
@font-face{
  font-family:'almoni-tzar';
  font-weight:700; /*(bold)*/
  font-style: normal;
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-700.eot');
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-700.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-700.ttf') format('truetype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-700.woff') format('woff');
}
//Assistant
@font-face{
  font-family:'Assistant';
  font-weight:300; /*(light)*/
  font-style: normal;
  src: url('fonts/Assistant/Assistant-Light.ttf') format('truetype');

}
@font-face{
  font-family:'Assistant';
  font-weight:400; /*(regular)*/
  font-style: normal;
  src: url('fonts/Assistant/Assistant-Regular.ttf') format('truetype');
}
@font-face{
  font-family:'Assistant';
  font-weight:700; /*(bold)*/
  font-style: normal;
  src: url('fonts/Assistant/Assistant-Bold.ttf') format('truetype');
}
@font-face{
  font-family:'Assistant';
  font-weight:900; /*(black)*/
  font-style: normal;
  src: url('fonts/Assistant/Assistant-SemiBold.ttf') format('truetype');
}
//OpenSans
@font-face{
  font-family:'open-sans';
  font-weight:300; /*(light)*/
  font-style: normal;
  src: url('fonts/open-sans/OpenSans-Light.ttf') format('truetype');
}
@font-face{
  font-family:'open-sans';
  font-weight:400; /*(regular)*/
  font-style: normal;
  src: url('fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face{
  font-family:'open-sans';
  font-weight:500; /*(medium)*/
  font-style: normal;
  src: url('fonts/open-sans/OpenSans-Medium.ttf') format('truetype');
}
@font-face{
  font-family:'open-sans';
  font-weight:700; /*(bold)*/
  font-style: normal;
  src: url('fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
}
@font-face{
  font-family:'open-sans';
  font-weight:800; /*(extra-bold)*/
  font-style: normal;
  src: url('fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype');
}
//OpenSans Condensed
@font-face{
  font-family:'open-sans-condensed';
  font-weight:300; /*(light)*/
  font-style: normal;
  src: url('fonts/open-sans/OpenSansHebrewCondensed-Light.ttf') format('truetype');
}
@font-face{
  font-family:'open-sans-condensed';
  font-weight:400; /*(regular)*/
  font-style: normal;
  src: url('fonts/open-sans/OpenSansHebrewCondensed-Regular.ttf') format('truetype');
}
@font-face{
  font-family:'open-sans-condensed';
  font-weight:700; /*(bold)*/
  font-style: normal;
  src: url('fonts/open-sans/OpenSansHebrewCondensed-Bold.ttf') format('truetype');
}
@font-face{
  font-family:'open-sans-condensed';
  font-weight:800; /*(extra-bold)*/
  font-style: normal;
  src: url('fonts/open-sans/OpenSansHebrewCondensed-ExtraBold.ttf') format('truetype');
}
