//Form styles
.input-hidden {
  display: none;
}
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 textarea {
  height: 168px;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}

div.wpcf7 input[type="submit"] {
  @include submit-style;
  background-position: 11px center;
  background-color: $blue-main !important;
  transition: transform .5s;
  &:hover {
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
.footer-form, .contact-page-form {
  div.wpcf7 input[type="submit"] {
	background-position: 8px center;
	background-color: $green-main !important;
	transition: background-position ease-out .5s;
	&:hover {
	  background-position: 3px center;
	}
  }
  @media (max-width: 1700px) and (min-width: 1200px){
	flex: 0 0 100%;
	max-width: 100%;
  }
  @media (max-width: 1200px) and (min-width: 768px){
	flex: 0 0 90%;
	max-width: 90%;
  }
}
.repeat-form-block, .repeat-form-post {
  padding: 50px 0;
  background-color: #558d16;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-image: url("../img/form-back.png");
  .logo {
	display: none;
	margin-bottom: 35px;
	img {
	  max-height: 160px;
	}
  }
  @media (min-width: 1600px) {
	.col-repeat-form {
	  flex: 0 0 87%;
	  max-width: 87%;
	}
  }
}
.repeat-form-post {
  padding: 30px 22px 10px 22px;
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 input[type="email"] {
	@include input-text-post;
	@include input-style-post;
  }
  .wpcf7-form {
	* {
	  direction: rtl !important;
	}
	::placeholder {
	  @include input-text-post;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  @include input-text-post;
	}
  }
  div.wpcf7 input[type="submit"] {
	@include submit-style-post;
  }
}
.foo-form-title, .foo-form-subtitle {
  color: $blue-main;
  margin-bottom: 18px;
}
.foo-form-title {
  font-size: size(48);
  line-height: size(50);
  font-weight: 700;
  font-family: $open-sans-condensed;
}
.foo-form-subtitle {
  font-size: size(31);
  line-height: size(40);
  font-weight: 400;
  text-align: center;
}
.logo-foo {
  margin-bottom: 34px;
  max-height: 141px;
}
.contact-form-subtitle {
  font-size: size(37);
  line-height: size(40);
  margin-bottom: 30px;
  text-align: center;
  color: $blue-main;
}
.base-form-title {
  @include form-title-40;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 26px;
}
