#MainNav, .header-bottom{
  ul{
	display: flex;
	height: 100%;
	li{
	  @include d-center;
	  margin: 0 30px;
	  a {
		@include d-center;
		font-family: $open-sans-condensed;
		@include mid-title-30;
		text-align: center;
		opacity: 0.91;
		color: #111111;
		font-weight: 700;
		transition: color ease-out .5s;
		&:hover {
		  color: $green-main;
		}
	  }
	  &:first-child {
		margin-right: 0 !important;
	  }
	  &:last-child {
		margin-left: 0 !important;
	  }
	  @media (max-width: 1500px) {
		margin: 0 20px;
		a {
		  font-size: size(22);
		  line-height: size(25);
		}
	  }
	  @media (max-width: 992px) and (min-width: 768px) {
		margin: 0 10px;
		a {
		  font-size: size(17);
		  line-height: size(20);
		}
	  }
	}
  }
}
.header-bottom {
  background-color: $blue-main;
  padding: 13px 0;
  ul {
	justify-content: space-between;
	li {
	  position: relative;
	  &:before {
		content: '';
		display: block;
		position: absolute;
		left: calc(100% + 4px);
		width: size(17);
		height: size(36);
		background-image: url("../iconsall/menu-icon.png");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	  }
	  a {
		color: #ffffff;
	  }
	  @media (max-width: 1500px) {
		margin: 0 15px;
		&:before {
		  width: size(13);
		  height: size(32);
		}
		a {
		  font-size: size(17);
		  line-height: size(20);
		}
	  }
	  @media (max-width: 992px) {
		margin: 0 10px;
		&:before {
		  width: size(7);
		  height: size(22);
		}
		a {
		  font-size: size(13);
		  line-height: size(16);
		}
	  }
	  @media (max-width: 500px) {
		display: none;
		padding: 5px 0;
	  }
	}
  }
  @media (max-width: 500px) {
	padding: 5px 0;
  }
}
.header-socials-line {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logo {
  @include d-center;
}
header {
  .logo img {
	max-height: 49px;
	@media (max-width: 450px) {
	  max-height: 29px;
	}
  }
}
.header-social-link {
  @include d-center;
  margin: 0 2.5px;
  img {
	width: size(33);
  }
}
.header-tel-link {
  display: flex;
  align-items: center;
  img {
	width: size(33);
  }
}
.tel-number {
  opacity: 0.91;
  color: $green-main;
  font-family: $open-sans-condensed;
  font-size: size(25);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  margin-right: 4px;
}
.header-top {
  padding: size(15) 0;
}

//Footer
.foo-menu {
  margin-bottom: 30px;
}
.foo-title {
  color: #014061;
  font-size: size(27);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(40);
  margin-bottom: 20px;
}
footer {
  position: relative;
  li {
	margin-bottom: 15px;
	a {
	  display: flex;
	  @include base-text;
	  color: $text-main;
	  transition: color ease-out .5s;
	  &:hover {
		color: $blue-main;
	  }
	}
  }
}
.footer-main {
  background-image: url("../img/footer-back.png");
  @include back-img;
  padding: 60px 0 83px 0;
  position: relative;
}
.footer-form {
  margin-bottom: 74px;
}
.contact-info-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
	@include d-center;
	min-width: 30px;
  }
}
.foo-links-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
#go-top {
  position: absolute;
  z-index: 99;
  top: -40px;
  right: 80px;
  @include d-center;
  cursor: pointer;
  img {
	width: size(50);
  }
}
.top-text {
  color: $blue-main;
  font-family: $open-sans-condensed;
  font-size: size(35);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(38);
  text-align: center;
  margin-bottom: 13px;
  max-width: 78px;
}
.contact-foo-title, .contact-item-title {
  @include base-text;
  color: $text-main;
  img {
	width: size(25);
	margin-left: 7px;
  }
}
.contact-foo-title {
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact-item-title {
  text-decoration: underline;
}

//Fixed socials
.fixed-links {
  position: fixed;
  left: 0;
  bottom: 20%;
  z-index: 9999;
}
.fixed-link {
  @include d-center;
  width: size(60);
  height: size(60);
  border-radius: 0 size(30) size(30) 0;
  background-color: $blue-main;
  padding: 10px 10px 10px 15px;
  margin-bottom: 3px;
  img {
	max-width: 100%;
	max-height: 100%;
  }
}
.whatsapp-link {
  background-color: $green-main;
}
.pop-trigger, .search-trigger {
  cursor: pointer;
}
.search-trigger {
  background-color: #3d3d3d;
}
.pop-form, .pop-form-search {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.73);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form, .float-form-search {
  position: relative;
  width: 100%;
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateX(-100%);
  overflow-y: auto;
  opacity: 0;
  &.show-float-form{
	opacity: 1;
	transform: translateX(0);
  }
}
.form-wrapper-pop {
  position: relative;
  @include d-center;
  flex-direction: column;
  border-radius: size(35);
  background-color: $blue-main;
  padding: size(70) 10% size(30) 10%;
  div.wpcf7 input[type="submit"] {
	background-color: $green-main !important;
  }
}
.close-form, .close-form-search {
  position: absolute;
  right: 16px;
  top: 14px;
  cursor: pointer;
  @include d-center;
  img {
	width: size(24);
	height: size(24);
  }
}
.search-form {
  @include d-center;
  input[type="search"] {
	@include input-style;
	@include input-text;
	flex-grow: 1;
	height: 2rem;
	border-radius: 0;
  }
  input[type="submit"] {
	width: 2rem;
	height: 2rem;
	background-color: $blue-main;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1.2rem;
	background-image: url("../iconsall/search.png");
	transition: transform .5s;
	&:hover {
	  transform: scale(0.95, 0.95);
	  transition: transform .5s;
	}
  }
}
#breadcrumbs {
  span, a {
	color: #111111;
	font-family: $open-sans-condensed;
	font-size: size(20);
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(33);
  }
}
