// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Pixel to REM
// =============================================================================


$base-size: 18;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


// usage: body {margin: size(20);}


// =============================================================================
// Media Query [Bootstrap 4 default queries]
// =============================================================================


@mixin extra-large-device-up {
  @media (min-width: 1200px) { @content; }
}
@mixin extra-large-device-down {
  @media (max-width: 1200px) { @content; }
}
@mixin large-device {
  @media (max-width: 992px) { @content; }
}
@mixin medium-device {
  @media (max-width: 768px) { @content; }
}
@mixin small-device {
  @media (max-width: 576px) { @content; }
}

@mixin base-title {
  font-size: size(50);
  line-height: size(60);
  @media (max-width: 1200px) {
	font-size: size(40);
	line-height: size(50);
  }
}
@mixin form-title-40 {
  font-size: size(40);
  line-height: size(44);
  @media (max-width: 1200px) {
	font-size: size(30);
	line-height: size(34);
  }
}
@mixin mid-title-30 {
  font-size: size(30);
  line-height: size(34);
  @media (max-width: 1200px) {
	font-size: size(25);
	line-height: size(30);
  }
}
@mixin mid-text-25 {
  font-size: size(25);
  line-height: size(25);
  @media (max-width: 1200px) {
	font-size: size(20);
	line-height: size(24);
  }
}
@mixin base-text {
  font-size: size(18);
  line-height: size(25);
  font-weight: 400;
}
@mixin input-style {
  box-shadow: 0 0 56px 12px rgba(0, 0, 0, 0.11);
  border-radius: size(27);
  background-color: #ffffff;
  height: size(54);
  background-size: size(41);
  background-position: calc(100% - 6px) center;
  background-repeat: no-repeat;
  padding-right: size(55);
  @media (max-width: 1200px) {
	border-radius: size(22);
	height: size(44);
	background-size: size(31);
	padding-right: size(45);
  }
}
@mixin input-text {
  font-family: $open-sans-condensed;
  color: $text-main;
  font-size: size(26);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  @media (max-width: 1200px) {
	font-size: size(22);
	line-height: size(24);
  }
}
@mixin input-text-post {
  font-size: size(21);
  line-height: size(25);
  @media (max-width: 1200px) and (min-width: 992px) {
	font-size: size(18);
	line-height: size(20);
  }
}
@mixin input-style-post {
  border-radius: size(22);
  height: size(45);
  background-size: size(34);
  padding-right: size(45);
  @media (max-width: 1200px) and (min-width: 992px){
	border-radius: size(18);
	height: size(40);
	background-size: size(31);
  }
}
@mixin submit-style {
  font-size: size(26);
  line-height: initial;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-family: $open-sans-condensed;
  padding: 5px 23px 5px 50px;
  background-position: 8px center;
  background-size: size(38);
  background-repeat: no-repeat;
  background-image: url("../iconsall/link-left.png");
}
@mixin submit-style-post {
  border-radius: size(22);
  height: size(45);
  font-size: size(21);
  padding: 5px 13px 5px 40px;
  background-position: 7px center;
  background-size: size(30);
}
@keyframes rotating {
  0% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	transform: rotate(-35deg);
  }
}
//100%
@mixin back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
@mixin d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes jump-top {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-top: -1rem;
  }
}
@keyframes jump {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-bottom: 1rem;
  }
}
@keyframes jump-down {
  0% {
	bottom: 70px;
  }
  100% {
	bottom: 30px;
  }
}
@keyframes round {
  0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);  }
}
@keyframes pulse {
  0% {
	transform: scale(0.5);
	opacity: 0;
  }

  50% {
	transform: scale(1);
	opacity: 1;
  }

  100% {
	transform: scale(1.3);
	opacity: 0;
  }
}
