.faq {
  margin: 103px 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: 15px;
  }
  .answer-body {
	padding: size(20) 37px size(20) 65px;
	@media (max-width: 1200px) {
	  padding: 10px 25px 10px 50px;
	}
  }
}
.question-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: size(74);
  padding: 10px 37px 10px 70px;
  background-position: 14px center;
  background-repeat: no-repeat;
  background-size: size(46);
  border-radius: size(35);
  border: 1px solid $blue-main;
  background-color: #ffffff;
  background-image: url("../iconsall/slider-arrow-left.png");
  @media (max-width: 1200px) {
	background-size: 30px;
	padding: 10px 25px 10px 50px;
  }
  &.active-faq {
	background-image: url("../iconsall/link-left.png");
	background-color: $blue-main;
	transition: background-color, background-image .5s;
	.faq-body-title {
	  color: #ffffff;
	  transition: color .5s;
	}
  }
}
.faq-body-title {
  @include mid-text-25;
  color: $text-main;
  font-weight: 400;
  text-align: right;
  transition: color .5s;
  @media (max-width: 450px) {
	@include base-text;
  }
}
.question-header {
  border-radius: 0;
  background-color: transparent;
}

//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: size(36);
	height: size(36);
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/slider-arrow-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/slider-arrow-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-product {
  padding: 0 25px;
  [dir="rtl"] .slick-next {
	left: -45px;
  }
  [dir="rtl"] .slick-prev {
	right: -45px;
  }
  @media screen and (max-width: 650px) {
	padding: 0 15px;
	margin-bottom: 3rem;
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  bottom: -3rem;
	  top: unset;
	}
	[dir="rtl"] .slick-next {
	  left: 15px;
	}
	[dir="rtl"] .slick-prev {
	  right: 15px;
	}
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	z-index: 33;
	top: unset;
	bottom: -3rem;
  }
  [dir="rtl"] .slick-next {
	left: 0;
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
}
.base-slider-block {
  position: relative;
  margin: size(100) 0;
  .base-output {
	h1, h2, h3, h4, h5, h6 {
	  text-shadow: 0 0 136px rgba(255, 255, 255, 0.91);
	  margin-bottom: 10px;
	}
  }
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	width: 100%;
	border-radius: size(35);
  }
}

//Video modal
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	font-size: 3rem;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
//Post card
.post-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  &:hover {
	.post-overlay {
	  background-color: rgba(0, 0, 0, 0);
	}
  }
}
.post-item-title {
  color: $title-color;
  font-size: size(23);
  line-height: size(28);
  font-weight: 700;
  margin-bottom: 30px;
}
.service-column, .same-products {
  .post-item-title {
	font-family: $open-sans-condensed;
	margin-bottom: 10px;
  }
}
.same-products {
  .post-item-title {
	font-size: size(25);
	line-height: size(28);
  }
}
.post-col-home {
  padding: 0 40px;
  margin-bottom: 20px;
  .post-item-link span {
	color: #ffffff !important;
  }
  @media screen and (max-width: 1600px){
	padding: 0 15px;
  }
}
.post-products-col {
  .post-item-title {
	font-family: $open-sans-condensed;
	margin-bottom: 5px;
	font-size: size(30);
	line-height: size(32);
  }
}
.row-minus-margin {
  margin: 0 -40px;
  @media screen and (max-width: 1600px){
	margin: 0 -15px;
  }
}
.post-item-image {
  position: relative;
  @include d-center;
  @include back-img;
  width: 100%;
  border-radius: size(35);
  margin-bottom: 22px;
  &:after {
	content: '';
	display: block;
	padding-bottom: 70.5%;
  }
}
.post-item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.post-col-base {
  margin-bottom: 25px;
}
.post-item-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: size(27);
  span {
	color: $title-color;
	font-size: size(22);
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(20);
  }
  img {
	width: size(36);
	margin-right: 11px;
	transition: margin-right ease-out .5s;
  }
  &:hover {
	img {
	  margin-right: 16px;
	}
  }
  @media screen and (max-width: 1600px){
	span {
	  font-size: size(16);
	}
	img {
	  width: size(18);
	}
  }
}
.post-blog-col {
  margin-bottom: size(63);
}
.post-col-same {
  margin-bottom: 26px;
  .post-item-title {
	margin-bottom: 5px;
  }
}
