/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
  .container {
	max-width: 75%;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  #go-top {
	img {
	  width: size(30);
	}
  }
  .top-text {
	font-size: size(25);
	line-height: size(28);
	max-width: 58px;
  }

}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  .foo-menu {
	order: 1;
  }
  .foo-contact-menu {
	order: 2;
  }
  .foo-links-menu-2, .foo-links-menu {
	order: 4;
  }
  .slider-img-col {
	margin-top: 4rem;
  }
  .team-home-col {
	margin-bottom: 3rem;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  #MainNav {
	ul {
	  display: flex;
	  justify-content: center;
	  height: 100%;
	  li {
		@include d-center;
		margin: 0 !important;
	  }
	}
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  top: -40px;
	  right: -10px;
	}
  }
  .container-fluid {
	min-width: 100%;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
}
