$almoni-tzar: almoni-tzar, sans-serif;
$almoni: almoni, sans-serif;
$assistant: 'Assistant', sans-serif;
$open-sans: 'open-sans', sans-serif;
$open-sans-condensed: 'open-sans-condensed', sans-serif;


$font-family: $open-sans;
$font-baze: 18px;
