@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "forms";
@import "header-footer";
@import "partials";


body{
  font-family: $open-sans;
  text-align: right;
  .container-fluid {
	max-width: 90%;
  }
}
.page-body {
}
.bread-row {
  padding-top: 15px;
}
.page-title {
  margin-top: 46px;
}
.base-title {
  @include base-title;
  text-shadow: 0 0 136px rgba(255, 255, 255, 0.91);
  color: $title-color;
  font-family: $open-sans-condensed;
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
}
.base-link {
  @include d-center;
  min-width: 241px;
  height: size(47);
  border-radius: size(24);
  background-color: $green-main;
  color: #ffffff;
  font-family: $open-sans-condensed;
  font-size: size(23);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(26);
  text-align: center;
  background-image: url("../iconsall/link-left.png");
  background-size: size(36);
  padding: 10px 50px 10px 80px;
  background-repeat: no-repeat;
  background-position: 8px center;
  transition: background-color ease-out .5s;
  &:hover {
	color: #ffffff;
	background-color: $blue-main;
  }
}
.home-link {
  height: size(57);
  border-radius: size(29);
  box-shadow: 0 0 56px 12px rgba(0, 0, 0, 0.11);
  color: #ffffff;
  font-size: size(35);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(40);
  white-space: nowrap;
  @media (max-width: 1600px) {
	height: size(47);
	border-radius: size(24);
	@include mid-title-30;
  }
}
.base-title-white {
  @include base-title;
  text-align: center;
  color: #ffffff;
  font-family: $open-sans-condensed;
}
.base-text {
  @include base-text;
  color: $text-main;
  font-weight: 400;
}
.base-output {
  h1 {
	font-size: size(60);
	line-height: size(68);
	@media screen and (max-width: 1200px){
	  font-size: size(50);
	  line-height: size(56);
	}
  }
  h2 {
	@include base-title;
	margin-bottom: 0;
  }
  h3 {
	@include form-title-40;
  }
  h1, h2, h3, h4, h5, h6 {
	color: $title-color;
	font-weight: 700;
	font-family: $open-sans-condensed;
  }
  h4 {
	@include mid-title-30;
  }
  h5 {
	@include mid-text-25;
  }
  h6 {
	@include base-text;
	font-weight: 700;
  }
  p, li {
	@include base-text;
	color: $text-main;
  }
  p {
	margin-bottom: 34px;
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
  img {
	width: 100%;
  }
  strong {
	font-weight: 800;
  }
}
.product-output {
  p, li {
	color: #111111;
	font-size: size(20);
	line-height: size(25);
  }
  h1, h2, h3, h4, h5, h6 {
	color: #111111;
  }
}
.block-output {
  * {
	text-align: center;
  }
  p {
	color: $blue-main;
  }
}
//Homepage
.home-main {
  min-height: 683px;
  background-color: #e2e3e7;
  background-position: 5% center;
  background-repeat: no-repeat;
  background-size: auto 85%;
  @media (max-width: 1600px) {
	background-size: auto 60%;
  }
  @media (max-width: 992px) {
	background-image: none !important;
  }
}
.home-col {
  flex: 0 0 40%;
  max-width: 40%;
  @media (max-width: 992px) {
	flex: 0 0 100%;
	max-width: 100%;
  }
}
.home-img-row {
  display: none;
  padding: 50px 0;
  @media (max-width: 992px) {
	display: flex;
  }
  img {
	width: 100%;
  }
}
.home-main-text {
  margin-top: 100px;
  margin-bottom: 45px;
  h2 {
	font-weight: 400;
	color: $title-color;
	font-size: size(67);
	font-style: normal;
	font-family: $open-sans-condensed;
	letter-spacing: normal;
	line-height: size(72);
	strong {
	  font-weight: 700;
	}
	@media (max-width: 1600px) {
	  font-size: size(47);
	  line-height: size(52);
	}
  }
}
.home-services-block {
  margin: 36px 0;
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
  .video-slider-wrap {
	border-radius: size(30);
	background-color: rgba(1, 75, 114, 0.8);
	@media screen and (max-width: 768px){
	  padding: 1rem;
	  [dir="rtl"] .slick-prev {
		right: -10px;
	  }
	  [dir="rtl"] .slick-next {
		left: -10px;
	  }
	  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
		width: size(10);
		height: size(20);
	  }
	}
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(14);
	height: size(24);
  }
  .services-slider {
	padding: 0 45px;
	@media screen and (max-width: 992px){
	  padding: 0 15px;
	}
	@media screen and (max-width: 992px){
	  padding: 0;
	}
  }
}
.services-block-title {
  color: $title-color;
  font-family: $open-sans-condensed;
  font-size: size(56);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(60);
  text-align: center;
  margin-bottom: 29px;
  @media screen and (max-width: 1600px){
	font-size: size(46);
	line-height: size(50);
	margin-bottom: 19px;
  }
  @media screen and (max-width: 992px){
	font-size: size(36);
	line-height: size(40);
	margin-bottom: 9px;
  }
}
.service-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 20px;
  height: 100%;
  border-radius: size(30);
  background-color: #ffffff;
}
.serv-img-wrap {
  flex-grow: 1;
  img {
	height: 160px;
  }
}
.serv-item-title {
  @include mid-text-25;
  text-align: center;
  color: $title-color;
  font-weight: 700;
  font-family: $open-sans-condensed;
  margin-bottom: 5px;
}
.home-about-block {
  margin: 40px 0;
  .video-about {
	display: flex;
	justify-content: flex-end;
	iframe {
	  @media (min-width: 1920px) {
		width: 90%;
	  }
	  @media (max-width: 992px) {
		margin-top: 3rem;
	  }
	  @media (max-width: 576px) {
		min-height: 250px;
		height: auto;
	  }
	}
  }
}
.video-slider-wrap {
  border-radius: size(35);
  background-color: $blue-main;
  padding: size(50);
  margin: 30px 0;
  .video-slider {
	padding: 0 50px;
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: size(23);
	height: size(37);
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
  @media (max-width: 992px) {
	.video-slider {
	  padding: 0 30px;
	}
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  width: size(13);
	  height: size(27);
	}
  }
  @media (max-width: 992px) {
	.video-slider {
	  padding: 0 10px;
	}
  }
}
.video-item {
  position: relative;
  width: 100%;
  box-shadow: 0 0 56px 12px rgba(0, 0, 0, 0.11);
  margin-bottom: 17px;
  &:after {
	content: '';
	display: block;
	padding-bottom: 55%;
  }
}
.video-item-overlay, .post-overlay {
  @include overlay;
  @include d-center;
  @include back-img;
  background-color: rgba(1, 75, 114, 0.2);
}
.video-item-overlay {
  cursor: pointer;
  img {
	width: size(49);
  }
}
.post-overlay {
  border-radius: size(35);
  justify-content: flex-end;
  align-items: flex-end;
  padding: 12px 14px;
  transition: background-color ease-out .5s;
}
.video-item-title {
  @include mid-text-25;
  font-weight: 700;
  color: #ffffff;
  @media (max-width: 992px) {
	@include base-text;
	font-weight: 700;
  }
}
.video-block-title {
  @include base-title;
  color: #ffffff;
  font-family: $open-sans-condensed;
  font-weight: 400;
  margin-bottom: 27px;
  text-align: center;
  strong {
	font-weight: 700;
  }
  @media (max-width: 768px) {
	@include mid-title-30;
  }
}
.video-slider-product {
  .video-block-title {
	font-weight: 700;
  }
  .video-slider-wrap {
	border-radius: size(35) size(35) 0 0;
  }
}
.form-reviews-home {
  .repeat-form-block {
	.logo {
	  display: flex;
	}
  }
}




//POST
.floated-container {
  @media (max-width: 992px) {
	display: flex;
	flex-direction: column;
  }
  .base-output {
	order: -1;
  }
}
.floated-col {
  float: left;
  width: 40%;
  margin: 0 5% 5% 0;
  img {
	width: 100%;
  }
  @media (max-width: 1600px) {
	width: 46%;
  }
  @media (max-width: 992px) {
	width: 100%;
	float: unset;
	margin: 2rem 0;
	order: 3;
  }
}
.main-post-image {
  margin-bottom: 8px;
}
.post-time-title {
  @include mid-text-25;
  color: $blue-main;
}
.post-form-title, .post-form-subtitle {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}
.post-form-title {
  font-size: size(32);
  line-height: size(36);
}
.post-form-subtitle {
  font-size: size(21);
  line-height: size(25);
  margin-bottom: 12px;
}
.same-posts {
  margin: 80px 0;
}


//Contact page
.iframe-wrapper-contact {
  width: 100%;
  iframe {
	width: 100%;
	height: 326px;
  }
}
.contact-page-form {
  padding: 37px 10%;
  background-color: $blue-main;
  border-radius: size(35);
}
.contact-page-line {
  margin: 17px 0;
}
.mb-60 {
  margin-bottom: 60px;
}
.logo-contact {
  margin-bottom: 37px;
  img {
	max-height: 163px;
  }
}
.contact-item {
  margin-bottom: 15px;
}
.contact-item-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.contact-icon-wrap {
  @include d-center;
  min-width: size(25);
}
.contact-info {
  @include d-center;
  flex-wrap: wrap;
}
.contact-title, .contact-type {
  @include base-text;
  color: #ffffff;
}
.contact-type {
  white-space: nowrap;
}
.contact-title {
  font-weight: 700;
  margin: 0 4px;
}
.contact-filial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.filial-col {
  margin-bottom: 60px;
}
//Product
.product-gallery-title {
  font-size: size(35);
  line-height: size(40);
  font-weight: 700;
  font-family: $open-sans-condensed;
  color: $title-color;
  margin-bottom: 20px;
}
.product-gallery-block {
  margin: 50px 0 60px 0;
}
.gallery-item {
  position: relative;
  @include d-center;
  @include back-img;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.14);
  border-radius: size(35);
  background-color: #ffffff;
  &:after {
	content: '';
	display: block;
	padding-bottom: 92.6%;
  }
  &:hover {
	.gallery-overlay {
	  pointer-events: auto;
	  opacity: 1;
	}
  }
}
.gallery-overlay {
  @include overlay;
  @include d-center;
  background-image: url("../iconsall/view.png");
  background-color: rgba(0, 0, 0, 0.51);
  opacity: 0;
  pointer-events: none;
  border-radius: size(35);
  transition: opacity ease-out .5s;
}
.call-to-action-block {
  margin: 100px 0 40px 0;
}
.call-to-action-title {
  color: #014a71;
  @include mid-title-30;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
.call-to-link {
  @include d-center;
  background-image: url("../iconsall/call-tel.png");
  box-shadow: 0 0 56px 12px rgba(0, 0, 0, 0.11);
  border-radius: size(20);
  background-color: #01496f;
  color: #ffffff;
  font-size: size(20);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  text-align: center;
  background-position: calc(100% - 5px);
  background-repeat: no-repeat;
  background-size: size(27);
  padding: 5px 42px 5px 25px;
  height: size(39);
  transition: background-color ease-out .5s;
  &:hover {
	color: #ffffff;
	background-color: $green-main;
  }
}
//About
.video-about {
  iframe {
	width: 100%;
	min-height: 315px;
  }
}
.about-output {
  h5 {
	@include base-text;
	font-weight: 700;
	color: $text-main;
	margin-bottom: 5px;
  }
  h6 {
	@include base-text;
	font-weight: 700;
	margin-bottom: 5px;
  }
}
.team-block-about {
  margin: 50px 0;
}
.team-block-title {
  @include base-title;
  font-weight: 700;
  font-family: $open-sans-condensed;
  color: $blue-main;
  margin-bottom: 22px;
}
.member-name {
  @include mid-title-30;
  color: $blue-main;
  margin-bottom: 25px;
  font-weight: 700;
}
.member-col {
  margin-bottom: 77px;
  &:last-child {
	margin-bottom: 20px;
  }
  @media (min-width: 1200px) {
	flex: 0 0 95%;
	max-width: 95%;
  }
  @media (min-width: 1200px) {
	flex: 0 0 87%;
	max-width: 87%;
  }
}
//Product category
.term-side-link {
  @include d-center;
  margin-bottom: 4px;
  color: #ffffff !important;
  font-family: $open-sans-condensed;
  font-size: size(25);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  padding: 18px;
  min-height: size(55);
  text-align: center;
  background-color: $blue-main;
  transition: transform ease-out .5s;
  @media (max-width: 1600px) and (min-width: 992px) {
	font-size: size(18);
	line-height: size(20);
	min-height: size(45);
  }
  &:hover {
	transform: scale(0.95, 0.95);
  }
  &.active {
	background-color: $green-main;
  }
}
.term-column {
  margin-left: 2%;
  @media (max-width: 1920px) {
	margin-left: 5%;
  }
  @media (max-width: 992px) {
	margin-left: 0;
	margin-bottom: 1rem;
  }
}
.border-bottom-body {
  padding-bottom: size(60);
  border-bottom: 3px solid $title-color;
}
.gal-item-product {
  width: 100%;
  @include back-img;
  @include d-center;
  &:after {
	content: '';
	display: block;
	padding-bottom: 52%;
  }
}
.product-cat-subtitle {
  @include mid-text-25;
  color: $blue-main;
  margin-bottom: 20px;
}
//Homepage team
.team-block-wrap {
  position: relative;
  @include d-center;
  flex-direction: column;
  padding: size(47) 10% size(27) 10%;
  border-radius: size(30);
  background-color: $blue-main;
  margin-bottom: -55px;
  margin-top: 55px;
}
.home-team-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: size(30);
  background-color: #ffffff;
  padding: 0 10% size(75) 10%;
  height: 100%;
}
.home-team-img {
  width: 241px;
  height: 241px;
  @include d-center;
  margin-top: -35px;
  margin-bottom: 26px;
}
.pen-abs {
  position: absolute;
  z-index: 3;
  right: 11px;
  bottom: 10%;
  max-width: 15%;
  @media (max-width: 475px) {
	display: none;
  }
}
.home-team-title {
  @include mid-title-30;
  text-align: center;
  color: $blue-main;
  margin-bottom: 40px;
  font-weight: 700;
}
.form-reviews-home {
  .repeat-form-block {
	padding-top: 114px !important;
  }
}

@import "responsive";
